<div class="list-group">
    <li class="list-group-item border-right-0 border-left-0">
        <div class="row">
            <div class="col-1">
                <input type="image" src="/icons/left.svg" class="form-control-file threadarrow mt-3"
                    id="exampleFormControlFile1">
            </div>
            <div class="col">
                <h5 class=""><strong>{{user.handle}}</strong></h5>
                <span class="text-secondary">{{user.squeaks.length}} Squeaks</span>

            </div>
        </div>
    </li>
    <div class="row">
        <div class="">
            <div class="col">
                <img class="img-fluid headerimage" src="data:image/png;base64, {{user.header}}"
                    alt="https://source.unsplash.com/random/">
            </div>
        </div>
    </div>

    <img class="rounded-circle profile-main" src="data:image/png;base64, {{user.avatar}}"
        alt="https://source.unsplash.com/random/">
    <div class="row">
        <div class="col-2 ml-2 mt-1">
            <h5 class="d-inline"><strong>{{user.name}}</strong></h5>
            <p class="text-secondary">@{{user.handle}}</p>
        </div>
        <div class="col-5">

        </div>
        <div class="col">
            <a class="btn btn-dark headerbutton" href="/user/{{user._id}}/edit">Follow</a>
        </div>
    </div>
    <div class="row">
        <div class="container mx-2">
            <p class="content">{{user.bio}}</p>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between container">
            <div class="col">
                <img src="/icons/link.svg" alt="" class="squeakbar d-inline"><a href="#"
                    class="ml-2">{{user.website}}</a>
            </div>
            <div class="col">
                <img src="/icons/balloon.svg" alt="" class="squeakbar d-inline">
                <p class="text-secondary d-inline">{{user.birthdate}}</p>
            </div>
            <div class="col">
                <img src="/icons/calendar.svg" alt="" class="squeakbar d-inline">
                <p class="text-secondary d-inline">{{user.CA}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container mx-3">
            <p class="d-inline"><Strong>{{user.following.length}}</Strong></p>
            <p class="d-inline text-secondary"> Following</p>
            <p class="d-inline ml-3"><Strong>{{user.followers.length}}</Strong></p>
            <p class="d-inline text-secondary"> Followers</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container">
            <ul class="nav nav-fill nav-pills border-bottom">
                <li class="nav-item">
                    <a class="nav-link quadmenu quadmenu-active" href="#">Tweets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link quadmenu" href="#">Tweets & Replies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link quadmenu" href="#">Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link quadmenu" href="#">Likes</a>
                </li>
            </ul>
        </div>
    </div>

</div>