<div class="list-group mt-2">
    <li class="list-group-item">
        <h4>Who To Follow</h4>
    </li>
    {{#if whotofollow}}
    {{#each whotofollow}}
    <a href="/user/{{this._id}}" class="list-group-item list-group-item-action">
        <div class="row squeezewtf">
            <div class="col-md-3">
                <img class="img-fluid rounded-circle profilemini my-auto d-inline"
                    src="data:image/png;base64, {{this.avatar}}" alt="">
            </div>
            <div class="col-md-5">
                <ul class="list-unstyled">
                    <li class="handle">
                        {{this.name}}
                    </li>
                    <li>
                        @{{this.handle}}
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <form action="/user/{{this._id}}/follow" method="POST">
                    <Button type="submit" class="btn btn-dark float-right d-inline mt-2">Follow</Button>
                </form>
            </div>
        </div>
    </a>
    {{/each}}
    {{else}}
    <div class="list-group-item list-group-item-action">
        <ul class="list-unstyled">
            <li class="handle">
                <p>No Eligible Users</p>
            </li>
        </ul>
    </div>
    {{/if}}
</div>